body { background: #dcebf2 url("../gallery/426bc829aad38dcb507d37a148ba4ce3.jpg") repeat-x scroll center top; }
.wb_sbg { background: transparent none repeat-x scroll center bottom; }
body, .wb_sbg { min-width: 992px; min-height: 2534px; }
.root { width: 992px; height: 2534px; overflow: visible; }
#wb_element_instance123 { left: 440px; top: 1730px; min-width: 270px; width: 270px; min-height: 170px; height: 170px; display: block; z-index: 210; }
#wb_element_instance123 ul { background: transparent none repeat scroll left top; border: 0px none #000000; }
#wb_element_instance123, #wb_element_instance123 ul { text-align: left; }
#wb_element_instance123 ul ul { background: #2e2e2e none repeat scroll left top; }
#wb_element_instance123 li { margin: 10px 10px 10px 10px; }
#wb_element_instance123 li a { text-transform: none; border: 0px none #000000; padding: 2px 2px 2px 2px; font: normal normal 22px Arial,Helvetica,sans-serif; text-decoration: none; color: #2c2c2c; line-height: 24px; background: transparent none repeat scroll left top; }
#wb_element_instance123 li:hover > a, #wb_element_instance123 li:focus > a { border: 0px none #000000; font: normal normal 22px Arial,Helvetica,sans-serif; text-decoration: none; color: #43852d; line-height: 24px; background: transparent none repeat scroll left top; }
#wb_element_instance123 li.active > a { border: 0px none #000000; font: normal normal 22px Arial,Helvetica,sans-serif; text-decoration: none; color: #43852d; line-height: 24px; background: transparent none repeat scroll left top; }
#wb_element_instance124 { left: 100px; top: 20px; min-width: 340px; width: 340px; min-height: 80px; height: 80px; display: block; z-index: 360; }
#wb_element_instance125 { left: 10px; top: 10px; min-width: 87px; width: 87px; min-height: 108px; height: 108px; display: block; z-index: 361; }
#wb_element_instance125 img { width: 87px; height: 108px; }
#wb_element_instance126 { left: 0px; top: 1970px; min-width: 990px; width: 990px; min-height: 280px; height: 280px; display: block; z-index: 1197; }
#wb_element_instance127 { left: 850px; top: 30px; min-width: 133px; width: 133px; min-height: 24px; height: 24px; display: block; z-index: 362; }
#wb_element_instance128 { left: 10px; top: 30px; min-width: 299px; width: 299px; min-height: 24px; height: 24px; display: block; z-index: 351; }
#wb_element_instance129 { left: 0px; top: 2270px; display: block; z-index: 9000; }
#wb_element_instance130 { left: 0px; top: 2290px; display: block; z-index: 9999; }

@media (min-width: 768px) {
	body, .wb_sbg { min-width: 992px; min-height: 2534px; }
	.root { width: 992px; height: 2534px; overflow: visible; }
	#wb_element_instance123 { left: 440px; top: 1730px; min-width: 270px; width: 270px; min-height: 170px; height: 170px; display: block; }
	#wb_element_instance124 { left: 100px; top: 20px; min-width: 340px; width: 340px; min-height: 80px; height: 80px; display: block; }
	#wb_element_instance125 { left: 10px; top: 10px; min-width: 87px; width: 87px; min-height: 108px; height: 108px; display: block; }
	#wb_element_instance125 img { width: 87px; height: 108px; }
	#wb_element_instance126 { left: 0px; top: 1970px; min-width: 990px; width: 990px; min-height: 280px; height: 280px; display: block; }
	#wb_element_instance127 { left: 850px; top: 30px; min-width: 133px; width: 133px; min-height: 24px; height: 24px; display: block; }
	#wb_element_instance128 { left: 10px; top: 30px; min-width: 299px; width: 299px; min-height: 24px; height: 24px; display: block; }
}

@media (min-width: 992px) {
	body, .wb_sbg { min-width: 992px; min-height: 2534px; }
	.root { width: 992px; height: 2534px; overflow: visible; }
	#wb_element_instance123 { left: 440px; top: 1730px; min-width: 270px; width: 270px; min-height: 170px; height: 170px; display: block; }
	#wb_element_instance124 { left: 100px; top: 20px; min-width: 340px; width: 340px; min-height: 80px; height: 80px; display: block; }
	#wb_element_instance125 { left: 10px; top: 10px; min-width: 87px; width: 87px; min-height: 108px; height: 108px; display: block; }
	#wb_element_instance125 img { width: 87px; height: 108px; }
	#wb_element_instance126 { left: 0px; top: 1970px; min-width: 990px; width: 990px; min-height: 280px; height: 280px; display: block; }
	#wb_element_instance127 { left: 850px; top: 30px; min-width: 133px; width: 133px; min-height: 24px; height: 24px; display: block; }
	#wb_element_instance128 { left: 10px; top: 30px; min-width: 299px; width: 299px; min-height: 24px; height: 24px; display: block; }
}

@media (min-width: 1200px) {
	body, .wb_sbg { min-width: 992px; min-height: 2534px; }
	.root { width: 992px; height: 2534px; overflow: visible; }
	#wb_element_instance123 { left: 440px; top: 1730px; min-width: 270px; width: 270px; min-height: 170px; height: 170px; display: block; }
	#wb_element_instance124 { left: 100px; top: 20px; min-width: 340px; width: 340px; min-height: 80px; height: 80px; display: block; }
	#wb_element_instance125 { left: 10px; top: 10px; min-width: 87px; width: 87px; min-height: 108px; height: 108px; display: block; }
	#wb_element_instance125 img { width: 87px; height: 108px; }
	#wb_element_instance126 { left: 0px; top: 1970px; min-width: 990px; width: 990px; min-height: 280px; height: 280px; display: block; }
	#wb_element_instance127 { left: 850px; top: 30px; min-width: 133px; width: 133px; min-height: 24px; height: 24px; display: block; }
	#wb_element_instance128 { left: 10px; top: 30px; min-width: 299px; width: 299px; min-height: 24px; height: 24px; display: block; }
}
